@model List<Crypts_And_Coders.Models.DTOs.EnemyDTO>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Enemies</title>
</head>

<body>
    <header>
        <nav>
            <h1>Enemies</h1>
            <a href="Home">Home</a>
            <a href="CharactersView">Characters</a>
            <a href="LocationsView">Locations</a>
            <span>Enemies</span>
        </nav>
    </header>

    <main>
        <div>
            @foreach (var item in Model)
            {
                <h3>@item.Species</h3>
                <p>Type: @item.Type</p>
                <p>Ability: @item.Abilities</p>
                @*<p>@item.Loot</p>*@
                <span>Loot: </span>
                @foreach (var lootItem in item.Loot)
                {
                    <span>@lootItem.Item.Name, </span>
                }
            }
        </div>
    </main>

    <footer>
    </footer>
</body>
</html>