@model List<Crypts_And_Coders.Models.DTOs.CharacterDTO>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>

<head>
    <title>Characters</title>
</head>
<body>
    <header>
        <nav>
            <h1>Characters</h1>
            <a href="Home">Home</a>
            <span>Characters</span>
            <a href="LocationsView">Locations</a>
            <a href="EnemiesView">Enemies</a>
        </nav>
    </header>

    <main>
        <div>
            @foreach (var item in Model)
            {
                <h3>@item.Name</h3>
                <p>Species: @item.Species</p>
                <p>Class: @item.Class</p>
                <p>Weapon: @item.Weapon.Name</p>
                <p>Weapon Base Damage: @item.Weapon.BaseDamage</p>
            }
        </div>
    </main>

    <footer>
    </footer>
</body>
</html>