@model List<Crypts_And_Coders.Models.DTOs.CharacterDTO>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>

<head>
    <title>Characters</title>
</head>
<body>
    <header>
        <div class="dropdown show">
            <a class="btn btn-secondary" href="Home">Home</a>
            <a class="btn btn-secondary" href="#">Characters</a>
            <a class="btn btn-secondary" href="EnemiesView">Enemies</a>
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="CharactersView/Create">Create</a>
                <a class="dropdown-item" href="CharactersView/Edit">Update</a>
                <a class="dropdown-item" href="CharactersView/Delete">Delete</a>
            </div>
        </div>
    </header>

    <main>
        <div>
            @foreach (var item in Model)
            {
                <h3>@item.Name</h3>
                <p>Species: @item.Species</p>
                <p>Class: @item.Class</p>
                <p>Weapon: @item.Weapon.Name</p>
                <p>Weapon Base Damage: @item.Weapon.BaseDamage</p>
            }
        </div>
    </main>

    <footer>
    </footer>
</body>
</html>